#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config EXAMPLES_OK8MP_VOICE
	tristate "OK8MP M7 voice sensor example"
	default n
	---help---
		Enable the OK8MP M7 I2C voice sensor command.

if EXAMPLES_OK8MP_VOICE

config EXAMPLES_OK8MP_VOICE_PROGNAME
	string "Program name"
	default "voice"

config EXAMPLES_OK8MP_VOICE_PRIORITY
	int "Voice command task priority"
	default 100

config EXAMPLES_OK8MP_VOICE_STACKSIZE
	int "Voice command stack size"
	default DEFAULT_TASK_STACKSIZE

endif
